# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtualenv
.venv/
venv/

# Logs
*.log

# OS
.DS_Store

# Project outputs
App/intermediate_research/

# Cache
*.sqlite
*.db

# Environment
.env
.env.*
