# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtualenv
.venv/
venv/

# Logs
*.log

# OS
.DS_Store

# Project outputs
App/intermediate_research/
Music Crawler/downloads/
Music Crawler/.crawl_cache.json
App/data/music_crawler/*/downloads/

# Cache
*.sqlite
*.db

# Environment
.env
.env.*
